  <!-- Post title + meta-->
  <a class="nav-link d-inline-block fw-normal text-uppercase px-0 mb-2" href="#">{{blog.blogGroupName}}</a>
  <h1 class="h2 mb-4 font-vazir">{{blog.title}}</h1>
  <div class="mb-4 pb-1">
    <ul class="list-unstyled d-flex flex-wrap mb-0 text-nowrap">
      <li class="me-3"><i class="fi-calendar-alt me-2 mt-n1 opacity-60"></i>
        {{blog.createDate | date :'YYYY/MM/dd'}}  
      </li>
      <li class="me-3 border-end"></li>
      <li class="me-3 border-end"></li>
    </ul>


<div class="mb-4 pb-md-3"><img class="rounded-3" width="100%" height="100%" src="{{imagePath}}{{blog.imageName}}" alt="Post image"></div>
<div class="row">
  <div class="col-lg-2 col-md-1 mb-md-0 mb-4 mt-md-n5">
  </div>
  <div class="col-lg-8 col-md-10">
    <!-- Post content-->
    <div [innerHTML]="blog.text"></div>
</div>
