<section class="container mb-5 pb-lg-5 pb-4">
  <h2 class="h3 mb-4 pb-2 text-md-start text-center  ">آخرین مقالات </h2>
  <div class="row gy-5">
    <div class="col-lg-6">
      <!-- Post-->
      <article class="card border-0 shadow-sm card-hover card-horizontal mb-4"><a class="card-img-top" href="#" style="background-image: url(./assets/img/real-estate/blog/05.jpg);"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none" href="real-estate-blog-single.html">سبک زندگی</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link" href="real-estate-blog-single.html">5 پروژه جاه طلبانه آسان برای بهبود خانه شما</a></h3>
          <p class="fs-sm text-muted">ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای... </p><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="./assets/img/avatars/10.jpg" width="44" alt="Avatar">
            <div class="pe-2">
              <h6 class="fs-sm text-nav lh-base mb-1">آنت بلک</h6>
              <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>1 اردیبهشت</span><span><i class="fi-chat-circle opacity-70 ms-1"></i>1 دیدگاه</span></div>
            </div></a>
        </div>
      </article>
      <!-- Post-->
      <article class="card border-0 shadow-sm card-hover card-horizontal mb-4"><a class="card-img-top" href="real-estate-blog-single.html" style="background-image: url(./assets/img/real-estate/blog/06.jpg);"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none" href="#">نکات و ترفندها</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link" href="real-estate-blog-single.html">7 نکته برای دستیابی به حداکثر آرامش</a></h3>
          <p class="fs-sm text-muted">متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو ...</p><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="./assets/img/avatars/08.jpg" width="44" alt="Avatar">
            <div class="pe-2">
              <h6 class="fs-sm text-nav lh-base mb-1">الهام کریمی</h6>
              <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>27 تیر</span><span><i class="fi-chat-circle opacity-70 ms-1"></i>3 دیدگاه</span></div>
            </div></a>
        </div>
      </article>
      <div class="pt-2"><a class="btn btn-lg btn-outline-primary w-sm-auto w-100" [routerLink]="['/blog/list']" routerLinkActive="router-link-active" >مقالات بیشتر</a></div>
    </div>

    <div class="col-lg-6">
      <!-- Post-->
      <article class="card border-0 shadow-sm card-hover card-horizontal mb-4"><a class="card-img-top" href="#" style="background-image: url(./assets/img/real-estate/blog/05.jpg);"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none" href="real-estate-blog-single.html">سبک زندگی</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link" href="real-estate-blog-single.html">5 پروژه جاه طلبانه آسان برای بهبود خانه شما</a></h3>
          <p class="fs-sm text-muted">ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای... </p><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="./assets/img/avatars/10.jpg" width="44" alt="Avatar">
            <div class="pe-2">
              <h6 class="fs-sm text-nav lh-base mb-1">آنت بلک</h6>
              <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>1 اردیبهشت</span><span><i class="fi-chat-circle opacity-70 ms-1"></i>1 دیدگاه</span></div>
            </div></a>
        </div>
      </article>
      <!-- Post-->
      <article class="card border-0 shadow-sm card-hover card-horizontal mb-4"><a class="card-img-top" href="real-estate-blog-single.html" style="background-image: url(./assets/img/real-estate/blog/06.jpg);"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none" href="#">نکات و ترفندها</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link" href="real-estate-blog-single.html">7 نکته برای دستیابی به حداکثر آرامش</a></h3>
          <p class="fs-sm text-muted">متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو ...</p><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="./assets/img/avatars/08.jpg" width="44" alt="Avatar">
            <div class="pe-2">
              <h6 class="fs-sm text-nav lh-base mb-1">الهام کریمی</h6>
              <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>27 تیر</span><span><i class="fi-chat-circle opacity-70 ms-1"></i>3 دیدگاه</span></div>
            </div></a>
        </div>
      </article>
    </div>
  </div>
</section>