<section class="container mb-5 pb-lg-5 pb-4">
  <h2 class="h3 mb-4 pb-2 text-md-start text-center  ">آخرین مقالات </h2>
  <div class="row gy-5">
    <div class="col-lg-6">
      <!-- Post-->
      <article *ngIf="latestBlogs[0]" class="card border-0 shadow-sm card-hover card-horizontal mb-4">
        <a class="card-img-top" [routerLink]="['/blog/details',latestBlogs[0].id]" routerLinkActive="router-link-active"  style="background-image: url('{{blogImagePath + latestBlogs[0].imageName}}');"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none"> {{latestBlogs[0].blogGroupName}}</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link">{{latestBlogs[0].title}}</a></h3>
          <a class="d-flex align-items-center text-decoration-none" [routerLink]="['/blog/details',latestBlogs[0].id]" routerLinkActive="router-link-active" >
            <div class="pe-2">
              <div class="d-flex text-body fs-xs">
                <span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>{{latestBlogs[0].createDate | date :'YYYY/MM/dd'}}</span>
              </div>
            </div>
          </a>
        </div>
      </article>
      <!-- Post-->
      <article *ngIf="latestBlogs[1]" class="card border-0 shadow-sm card-hover card-horizontal mb-4">
        <a class="card-img-top" [routerLink]="['/blog/details',latestBlogs[1].id]" routerLinkActive="router-link-active"  style="background-image: url('{{blogImagePath + latestBlogs[1].imageName}}');"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none"> {{latestBlogs[1].blogGroupName}}</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link">{{latestBlogs[1].title}}</a></h3>
          <a class="d-flex align-items-center text-decoration-none" [routerLink]="['/blog/details',latestBlogs[1].id]" routerLinkActive="router-link-active" >
            <div class="pe-2">
              <div class="d-flex text-body fs-xs">
                <span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>{{latestBlogs[1].createDate | date :'YYYY/MM/dd'}}</span>
              </div>
            </div>
          </a>
        </div>
      </article>
      <div class="pt-2"><a class="btn btn-lg btn-outline-primary w-sm-auto w-100" [routerLink]="['/blog/list']" routerLinkActive="router-link-active" >مقالات بیشتر</a></div>
    </div>

    <div class="col-lg-6">
      <!-- Post-->
      <article *ngIf="latestBlogs[3]" class="card border-0 shadow-sm card-hover card-horizontal mb-4">
        <a class="card-img-top" [routerLink]="['/blog/details',latestBlogs[3].id]" routerLinkActive="router-link-active"  style="background-image: url('{{blogImagePath + latestBlogs[3].imageName}}');"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none"> {{latestBlogs[3].blogGroupName}}</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link">{{latestBlogs[3].title}}</a></h3>
          <a class="d-flex align-items-center text-decoration-none" [routerLink]="['/blog/details',latestBlogs[3].id]" routerLinkActive="router-link-active" >
            <div class="pe-2">
              <div class="d-flex text-body fs-xs">
                <span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>{{latestBlogs[3].createDate | date :'YYYY/MM/dd'}}</span>
              </div>
            </div>
          </a>
        </div>
      </article>
      <!-- Post-->
      <article *ngIf="latestBlogs[2]" class="card border-0 shadow-sm card-hover card-horizontal mb-4">
        <a class="card-img-top" [routerLink]="['/blog/details',latestBlogs[2].id]" routerLinkActive="router-link-active"  style="background-image: url('{{blogImagePath + latestBlogs[2].imageName}}');"></a>
        <div class="card-body"><a class="fs-xs text-uppercase text-decoration-none"> {{latestBlogs[2].blogGroupName}}</a>
          <h3 class="fs-base pt-1 mb-2"><a class="nav-link">{{latestBlogs[2].title}}</a></h3>
          <a class="d-flex align-items-center text-decoration-none" [routerLink]="['/blog/details',latestBlogs[2].id]" routerLinkActive="router-link-active" >
            <div class="pe-2">
              <div class="d-flex text-body fs-xs">
                <span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 ms-1"></i>{{latestBlogs[2].createDate | date :'YYYY/MM/dd'}}</span>
              </div>
            </div>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>