<div class="card-body">
  <form [formGroup]="textForm">
    <ejs-richtexteditor 
      #fromRTE 
      id='defaultRTE' 
      formControlName="text" [toolbarSettings]='tools'
      [placeholder]='placeholder'
      [insertImageSettings]='insertImageSettings' 
      [enableRtl]='rtl' 
      [enableResize]="true"
      [showCharCount]='true'
      [showTooltip]="false" 
      (created)="rteCreated()" 
      [quickToolbarSettings]='quickToolbarSettings'>

    </ejs-richtexteditor>
    <button type="button" class="btn btn-light-primary mt-4"  (click)="add()">
      Submit
    </button>
  </form>

</div>