<div class="row gy-3 mb-4 pb-2">
  <div class="col-md-4 order-md-1 order-2">
    <div class="position-relative">
      <input class="form-control ps-5" type="text" placeholder="جستجو مقاله براساس کلمات کلیدی"><i class="fi-search position-absolute top-50 end-0 translate-middle-y me-3"></i>
    </div>
  </div>
  <div class="col-lg-6 col-md-8 offset-lg-2 order-md-2 order-1">
    <div class="row gy-3">
      <div class="col-6 d-flex flex-sm-row flex-column align-items-sm-center">
        <label class="d-inline-block ms-sm-2 mb-sm-0 mb-2 text-nowrap" for="categories"><i class="fi-align-left fi-rotate mt-n1 me-2 align-middle opacity-70"></i>دسته بندی: </label>
        <select class="form-select" id="categories">
          <option>همه</option>
          <option>خانه</option>
          <option>تخفیفات</option>
          <option>نکات و ترفندها</option>
          <option>اخبار صنعتی</option>
          <option>تحلیل بازار مسکن</option>
        </select>
      </div>
      <div class="col-6 d-flex flex-sm-row flex-column align-items-sm-center">
        <label class="d-inline-block m-sm-2 mb-sm-0 mb-2 text-nowrap" for="sortby"><i class="fi-arrows-sort mt-n1 me-2 align-middle opacity-70"></i>مرتب سازی براساس: </label>
        <select class="form-select" id="sortby">
          <option>جدیدترین</option>
          <option>قدیمی ترین</option>
          <option>پربازدید</option>
          <option>اسپانسری</option>
        </select>
      </div>
    </div>
  </div>
</div>