<section class="banner-section">
  <carousel [isAnimated]="true">
    <slide *ngFor="let banner of banners">
      <div class="slide-item" style="background-image: url('{{imagePathOrigin + banner.bannerImage}}');">
        <div class="auto-container">
          <div class="inner-box">
            <div class="content-box">
              <h2>{{banner.description}}</h2>
              <div class="btn-box" *ngIf="banner.link">
                <button class="btn btn-lg btn-icon btn-primary px-3 w-50" type="button">اطلاعات بیشتر</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</section>

