<div class="container mt-5 mb-md-4 pt-5">
  <nav class="mb-3 pt-md-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >خانه</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        لیست بلاگ ها
      </li>
    </ol>
  </nav>
</div>
<div class="container mt-5 mb-md-4 py-5">
<app-blog-search-widget (filterBlog)="filterBlog($event)" [blogGroups] = "blogGroups"></app-blog-search-widget>
<app-blog-list-widget></app-blog-list-widget>

</div>