<section class="container mb-5 mt-n3 mt-lg-0">
      <div class="row gx-4 mx-0 py-3" >
        <div class="col">
          <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center"><img class="d-block mx-auto my-3" src="./assets/img/real-estate/illustrations/buy.svg" width="256" alt="Illustration">
            <div class="card-body">
              <h2 class="h5 card-title">خرید یک ملک</h2>
              <p class="card-text fs-sm">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="card-footer pt-0 border-0"><a class="btn btn-outline-primary stretched-link" href="real-estate-catalog-sale.html">جستجوی خانه</a></div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center"><img class="d-block mx-auto my-3" src="./assets/img/real-estate/illustrations/sell.svg" width="256" alt="Illustration">
            <div class="card-body">
              <h2 class="h5 card-title">فروش یک ملک</h2>
              <p class="card-text fs-sm">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="card-footer pt-0 border-0"><a class="btn btn-outline-primary stretched-link" href="#">مکان کسب و کار</a></div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center"><img class="d-block mx-auto my-3" src="./assets/img/real-estate/illustrations/rent.svg" width="256" alt="Illustration">
            <div class="card-body">
              <h2 class="h5 card-title">اجاره یک ملک</h2>
              <p class="card-text fs-sm">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="card-footer pt-0 border-0"><a class="btn btn-outline-primary stretched-link" href="real-estate-catalog-rent.html">یافتن اجاره خانه</a></div>
          </div>
        </div>
      </div>
  </section>