<div class="mb-sm-3">
  <h3 class="h5">امکانات رفاهی</h3>
  <ul class="list-unstyled row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-1 mb-1 text-nowrap">
    <li class="col"><i class="fi-wifi mt-n1 me-2 fs-lg align-middle"></i>وای فای</li>
    <li class="col"><i class="fi-thermometer mt-n1 me-2 fs-lg align-middle"></i>سیستم گرمایشی</li>
    <li class="col"><i class="fi-dish mt-n1 me-2 fs-lg align-middle"></i>استخر </li>
    <li class="col"><i class="fi-parking mt-n1 me-2 fs-lg align-middle"></i>پارکینگ</li>
    <li class="col"><i class="fi-snowflake mt-n1 me-2 fs-lg align-middle"></i>تهویه هوا</li>
    <li class="col"><i class="fi-iron mt-n1 me-2 fs-lg align-middle"></i>گاز رومیزی</li>
    <li class="col"><i class="fi-tv mt-n1 me-2 fs-lg align-middle"></i>تلویزیون</li>
    <li class="col"><i class="fi-laundry mt-n1 me-2 fs-lg align-middle"></i>ماشین لباسشویی</li>
    <li class="col"><i class="fi-cctv mt-n1 me-2 fs-lg align-middle"></i>دوربین مداربسته</li>
  </ul>
  <div class="collapse" id="seeMoreAmenities">
    <ul class="list-unstyled row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-1 mb-1 text-nowrap">
      <li class="col"><i class="fi-no-smoke mt-n1 me-2 fs-lg align-middle"></i>سیگار ممنوع</li>
      <li class="col"><i class="fi-pet mt-n1 me-2 fs-lg align-middle"></i>گربه</li>
      <li class="col"><i class="fi-swimming-pool mt-n1 me-2 fs-lg align-middle"></i>استخر</li>
      <li class="col"><i class="fi-double-bed mt-n1 me-2 fs-lg align-middle"></i>2 خواب</li>
      <li class="col"><i class="fi-bed mt-n1 me-2 fs-lg align-middle"></i>1 خواب</li>
    </ul>
  </div><a class="collapse-label collapsed" href="#seeMoreAmenities" data-bs-toggle="collapse"
    data-bs-label-collapsed="مشاهده بیشتر" data-bs-label-expanded="بستن" role="button" aria-expanded="false"
    aria-controls="seeMoreAmenities"></a>
</div>