<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let slider of images|async; let i = index" data-target="#carouselExampleIndicators"
      attr.data-slide-to="{{i}}" [ngClass]="{active: i === 0}">
    </li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let image of images|async; index as i" [ngClass]="{active: i === 0}">
      <img [src]="getUrl(image)" style="object-fit:cover; object-position:50% 50%;" class="d-block w-100">
    </div>
  </div>
</div>