<section class="container pb-4 pt-1 mb-5">
  <div class="d-flex align-items-end align-items-lg-center justify-content-between mb-4 pb-md-2">
    <div class="d-flex w-100 align-items-center justify-content-between justify-content-lg-start">
      <h2 class="h3 mb-0 ms-md-4 ">آخرین مقالات</h2>
      <div class="dropdown d-md-none" data-bs-toggle="select">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="dropdown-toggle-label">خانه</span></button>
        <input type="hidden">
        <div class="dropdown-menu"><a class="dropdown-item" href="#"><span class="dropdown-item-label">آپارتمان</span></a><a class="dropdown-item" href="#"><span class="dropdown-item-label">خانه</span></a><a class="dropdown-item" href="#"><span class="dropdown-item-label">Rooms</span></a><a class="dropdown-item" href="#"><span class="dropdown-item-label">Commercial</span></a></div>
      </div>
      <ul class="nav nav-tabs d-none d-md-flex ps-lg-2 mb-0">
        <li class="nav-item"><a class="nav-link fs-sm mb-2 mb-md-0" href="#">آپارتمان</a></li>
        <li class="nav-item"><a class="nav-link fs-sm active mb-2 mb-md-0" href="#">خانه</a></li>
        <li class="nav-item"><a class="nav-link fs-sm mb-2 mb-md-0" href="#">سوئیت</a></li>
        <li class="nav-item"><a class="nav-link fs-sm mb-2 mb-md-0" href="#">دفتر تجاری</a></li>
      </ul>
    </div><a class="btn btn-link fw-normal d-none d-lg-block p-0" [routerLink]="['/blog/list']" routerLinkActive="router-link-active" >مشاهده همه <i class="fi-arrow-long-left me-2"></i></a>
  </div>
  <div class="row g-4" *ngIf="blogs ; let blog;">
    <div class="col-md-6">
      <div *ngIf="blog[0]" class="card bg-size-cover bg-position-center border-0 overflow-hidden mb-4" style="background-image: url('{{imagePath + blog[0].imageName}}');"><span class="img-gradient-overlay"></span>
        <div class="card-body content-overlay pb-0">
          <div class="d-flex"><span class="badge bg-info fs-sm">جدید</span></div>
        </div>
        <div class="card-footer content-overlay border-0 pt-0 pb-4">
          <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5"><a class="text-decoration-none text-light pe-2" [routerLink]="['/blog/details',blog[0].id]" routerLinkActive="router-link-active">
              <h3 class="h5 text-light mb-1">  {{blog[0].title}} </h3>
              <div class="fs-sm opacity-70"><i class="fi-calendar-alt ms-1"></i> 
              {{blog[0].createDate | date :'YYYY/MM/dd'}}  
              </div></a>
              <div class="btn-group ms-n2 ms-sm-0 mt-3"><a class="btn btn-primary px-3" [routerLink]="['/blog/details',blog[0].id]" routerLinkActive="router-link-active"  style="height: 2.75rem;">مشاهده
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fi-chevrons-left"></i></a>
              </div>
          </div>
        </div>
      </div>
      <div *ngIf="blog[1]" class="card bg-size-cover bg-position-center border-0 overflow-hidden" style="background-image: url('{{imagePath + blog[1].imageName}}');"><span class="img-gradient-overlay"></span>
        <div class="card-body content-overlay pb-0">
          <div class="d-flex"><span class="badge bg-info fs-sm">جدید</span></div>
        </div>
        <div class="card-footer content-overlay border-0 pt-0 pb-4">
          <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5"><a class="text-decoration-none text-light pe-2" [routerLink]="['/blog/details',blog[1].id]" routerLinkActive="router-link-active">
              <h3 class="h5 text-light mb-1">  {{blog[1].title}} </h3>
              <div class="fs-sm opacity-70"><i class="fi-calendar-alt ms-1"></i> 
              {{blog[1].createDate | date :'YYYY/MM/dd'}}  
              </div></a>
              <div class="btn-group ms-n2 ms-sm-0 mt-3"><a class="btn btn-primary px-3" [routerLink]="['/blog/details',blog[1].id]" routerLinkActive="router-link-active"  style="height: 2.75rem;">مشاهده
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fi-chevrons-left"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="blog[2]" class="card bg-size-cover bg-position-center border-0 overflow-hidden h-100" style="background-image: url('{{imagePath + blog[2].imageName}}');"><span class="img-gradient-overlay"></span>
        <div class="card-body content-overlay pb-0">
          <div class="d-flex"><span class="badge bg-info fs-sm">جدید</span></div>
        </div>
        <div class="card-footer content-overlay border-0 pt-0 pb-4">
          <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5"><a class="text-decoration-none text-light pe-2" [routerLink]="['/blog/details',blog[2].id]" routerLinkActive="router-link-active">
              <h3 class="h5 text-light mb-1">  {{blog[2].title}} </h3>
              <div class="fs-sm opacity-70"><i class="fi-calendar-alt ms-1"></i> 
              {{blog[2].createDate | date :'YYYY/MM/dd'}}  
              </div></a>
            <div class="btn-group ms-n2 ms-sm-0 mt-3"><a class="btn btn-primary px-3" [routerLink]="['/blog/details',blog[2].id]" routerLinkActive="router-link-active"  style="height: 2.75rem;">مشاهده
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fi-chevrons-left"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>