<div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">
  <div class="offcanvas-header d-flex d-lg-none align-items-center">
    <h2 class="h5 mb-0">فیلتر جستجو</h2>
    <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body py-lg-4">
    <div class="pb-4 mb-2">
      <h3 class="h6">موقعیت مکانی</h3>
      <select class="form-select mb-2" ngModel  (ngModelChange)="handlefilterByCity($event)">
        <option value="" disabled>انتخاب شهر</option>
        <option *ngFor="let city of cities" [ngValue]="city">{{city.cityName}}</option>
      </select>

    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6">نوع ملک</h3>
      <select class="form-select mb-2" ngModel  (ngModelChange)="handlefilterBypropertyType($event)">
        <option value="" disabled>  انتخاب نوع ملک</option>
        <option *ngFor="let propertyType of propertyTypes" [ngValue]="propertyType">{{propertyType.type}}</option>
      </select>

      </div>
      <div class="pb-4 mb-2">
        <h3 class="h6">نوع قرارداد</h3>
        <select class="form-select mb-2" ngModel  (ngModelChange)="handlefilterByContractType($event)">
          <option value="" disabled>  انتخاب نوع قرارداد</option>
          <option *ngFor="let contractType of contractTypes" [ngValue]="contractType">{{contractType.contractType}}</option>
        </select>
  
        </div>
    </div>

    <div class="pb-4 mb-2">
      <h3 class="h6 pt-1">تعداد اتاق خواب و سرویس بهداشتی</h3>
      <label class="d-block fs-sm mb-1">تعداد اتاق</label>
      <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms">
        <input class="btn-check" type="radio" id="studio" (change)="handlefilterByNumberOfBedRoom(0)" name="bedrooms">
        <label class="btn btn-outline-primary fw-normal" for="studio">0</label>
        <input class="btn-check" type="radio" id="bedrooms-1" name="bedrooms" (change)="handlefilterByNumberOfBedRoom(1)">
        <label class="btn btn-outline-primary fw-normal" for="bedrooms-1">1</label>
        <input class="btn-check" type="radio" id="bedrooms-2" name="bedrooms" (change)="handlefilterByNumberOfBedRoom(2)">
        <label class="btn btn-outline-primary fw-normal" for="bedrooms-2">2</label>
        <input class="btn-check" type="radio" id="bedrooms-3" name="bedrooms" (change)="handlefilterByNumberOfBedRoom(3)">
        <label class="btn btn-outline-primary fw-normal" for="bedrooms-3">3</label>
        <input class="btn-check" type="radio" id="bedrooms-4" name="bedrooms" (change)="handlefilterByNumberOfBedRoom(4)">
        <label class="btn btn-outline-primary fw-normal" for="bedrooms-4">4+</label>
      </div>
      <label class="d-block fs-sm pt-2 my-1">سرویس بهداشتی</label>
      <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bathrooms">
        <input class="btn-check" type="radio" id="bathrooms-1" name="bathrooms" (change)="handlefilterByNumberOfBathRoom(1)">
        <label class="btn btn-outline-primary fw-normal"   for="bathrooms-1">1</label>
        <input class="btn-check" type="radio" id="bathrooms-2" name="bathrooms" (change)="handlefilterByNumberOfBathRoom(2)">
        <label class="btn btn-outline-primary fw-normal" for="bathrooms-2">2</label>
        <input class="btn-check" type="radio" id="bathrooms-3" name="bathrooms" (change)="handlefilterByNumberOfBathRoom(3)">
        <label class="btn btn-outline-primary fw-normal" for="bathrooms-3">3</label>
        <input class="btn-check" type="radio" id="bathrooms-4" name="bathrooms" (change)="handlefilterByNumberOfBathRoom(4)">
        <label class="btn btn-outline-primary fw-normal" for="bathrooms-4">4</label>
      </div>
    </div>
    <div class="border-top py-4">
      <button class="btn btn-outline-primary" (click)="resetFilter()" type="button"><i class="fi-rotate-right me-2"></i>حذف فیلتر</button>
    </div>
  </div>
