<div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">
  <div class="offcanvas-header d-flex d-lg-none align-items-center">
    <h2 class="h5 mb-0">فیلتر جستجو</h2>
    <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-header d-block border-bottom pt-0 pt-lg-4 px-lg-0">
    <ul class="nav nav-tabs mb-0">
      <li class="nav-item"><a class="nav-link active" href="real-estate-catalog-rent.html"><i class="fi-rent fs-base me-2"></i>برای اجاره</a></li>
      <li class="nav-item"><a class="nav-link" href="real-estate-catalog-sale.html"><i class="fi-home fs-base me-2"></i>برای فروش</a></li>
    </ul>
  </div>
  <div class="offcanvas-body py-lg-4">
    <div class="pb-4 mb-2">
      <h3 class="h6">موقعیت مکانی</h3>
      <select class="form-select mb-2">
        <option value="" disabled>انتخاب شهر</option>
        <option value="Chicago">شیکاگو</option>
        <option value="Dallas">پاریس</option>
        <option value="Los Angeles">لوس آنجلس</option>
        <option value="New York" selected>نیویورک</option>
        <option value="San Diego">سن فرانسیسکو</option>
      </select>
      <select class="form-select">
        <option value="" selected disabled>انتخاب منطقه</option>
        <option value="Brooklyn">1</option>
        <option value="Manhattan">2</option>
        <option value="Staten Island">3</option>
        <option value="The Bronx">4</option>
        <option value="Queens">5</option>
      </select>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6">نوع ملک</h3>
      <div class="overflow-auto" data-simplebar data-simplebar-auto-hide="false" data-simplebar-direction="rtl" style="height: 11rem;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="house">
          <label class="form-check-label fs-sm" for="house">خانه</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="apartment" checked>
          <label class="form-check-label fs-sm" for="apartment">آپارتمان</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="room">
          <label class="form-check-label fs-sm" for="room">سوئیت</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="office">
          <label class="form-check-label fs-sm" for="office">دفتر کار</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="commercial">
          <label class="form-check-label fs-sm" for="commercial">تجاری</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="land">
          <label class="form-check-label fs-sm" for="land">زمین</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="daily">
          <label class="form-check-label fs-sm" for="daily">ویلا</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="new-building">
          <label class="form-check-label fs-sm" for="new-building">اقامتگاه روستایی</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="parking-lot">
          <label class="form-check-label fs-sm" for="parking-lot">آپارتمان تازه ساخت</label>
        </div>
      </div>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6">قیمت اجاره</h3>
      <div class="range-slider" data-start-min="1500" data-start-max="3000" data-min="200" data-max="5000" data-step="100">
        <div class="range-slider-ui"></div>
        <div class="d-flex align-items-center">
          <div class="w-50 pe-2">
            <div class="input-group flex-row-reverse"><span class="input-group-text fs-base">ت</span>
              <input class="form-control range-slider-value-min" type="text">
            </div>
          </div>
          <div class="text-muted">&mdash;</div>
          <div class="w-50 ps-2">
            <div class="input-group flex-row-reverse"><span class="input-group-text fs-base">ت</span>
              <input class="form-control range-slider-value-max" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6 pt-1">تعداد اتاق خواب و سرویس بهداشتی</h3>
      <label class="d-block fs-sm mb-1">تعداد اتاق</label>
      <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms">
        <input class="btn-check" type="radio" id="studio" name="bedrooms">
        <label class="btn btn-outline-secondary fw-normal" for="studio">0</label>
        <input class="btn-check" type="radio" id="bedrooms-1" name="bedrooms" checked>
        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-1">1</label>
        <input class="btn-check" type="radio" id="bedrooms-2" name="bedrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-2">2</label>
        <input class="btn-check" type="radio" id="bedrooms-3" name="bedrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-3">3</label>
        <input class="btn-check" type="radio" id="bedrooms-4" name="bedrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-4">4+</label>
      </div>
      <label class="d-block fs-sm pt-2 my-1">سرویس بهداشتی</label>
      <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bathrooms">
        <input class="btn-check" type="radio" id="bathrooms-1" name="bathrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-1">1</label>
        <input class="btn-check" type="radio" id="bathrooms-2" name="bathrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-2">2</label>
        <input class="btn-check" type="radio" id="bathrooms-3" name="bathrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-3">3</label>
        <input class="btn-check" type="radio" id="bathrooms-4" name="bathrooms">
        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-4">4</label>
      </div>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6 pt-1">متراژ (مترمربع)</h3>
      <div class="d-flex align-items-center">
        <input class="form-control w-100" type="number" min="20" max="500" step="10" placeholder="حداقل">
        <div class="mx-2">&mdash;</div>
        <input class="form-control w-100" type="number" min="20" max="500" step="10" placeholder="حداکثر">
      </div>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6">امکانات رفاهی</h3>
      <div class="overflow-auto" data-simplebar data-simplebar-auto-hide="false" data-simplebar-direction="rtl" style="height: 11rem;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="air-condition" checked>
          <label class="form-check-label fs-sm" for="air-condition">تهویه هوا</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="balcony">
          <label class="form-check-label fs-sm" for="balcony">بالکن</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="garage" checked>
          <label class="form-check-label fs-sm" for="garage">انباری</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gym">
          <label class="form-check-label fs-sm" for="gym">باشگاه</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="parking">
          <label class="form-check-label fs-sm" for="parking">پارکینگ</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="pool">
          <label class="form-check-label fs-sm" for="pool">استخر</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="camera">
          <label class="form-check-label fs-sm" for="camera">دوربین مداربسته</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="wifi" checked>
          <label class="form-check-label fs-sm" for="wifi">وای فای</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="laundry">
          <label class="form-check-label fs-sm" for="laundry">ماشین لباسشویی</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="dishwasher">
          <label class="form-check-label fs-sm" for="dishwasher">ماشین ظرفشویی</label>
        </div>
      </div>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6">نگهداری حیوان خانگی</h3>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="allow-cats">
        <label class="form-check-label fs-sm" for="allow-cats">گربه مجاز است</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="allow-dogs">
        <label class="form-check-label fs-sm" for="allow-dogs">سگ مجاز است</label>
      </div>
    </div>
    <div class="pb-4 mb-2">
      <h3 class="h6">سایر امکانات</h3>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="verified">
        <label class="form-check-label fs-sm" for="verified">تایید شده</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="featured">
        <label class="form-check-label fs-sm" for="featured">ویژه</label>
      </div>
    </div>
    <div class="border-top py-4">
      <button class="btn btn-outline-primary" type="button"><i class="fi-rotate-right me-2"></i>حذف فیلتر</button>
    </div>
  </div>
</div>
