<!-- Sorting-->
<div *ngIf="filterProperties" class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
  <div class="d-flex align-items-center flex-shrink-0">
    <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>مرتب
      سازی براساس: </label>
    <select class="form-select form-select-sm" id="sortby">
      <option>جدیدترین</option>
      <option>قیمت بالا</option>
      <option>قیمت پایین</option>
    </select>
  </div>
  <hr class="d-none d-sm-block w-100 mx-4">
  <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i class="fi-check-circle me-2"></i><span
      class="fs-sm mt-n1">{{filterProperties.totalRecords}} نتیجه یافت شد</span></div>
</div>
<!-- Catalog grid-->
<div *ngIf="filterProperties"  class="row g-4 py-4">
  <!-- Item-->
  <div class="col-xl-3 col-md-6" *ngFor="let property of filterProperties.propertyDTOs">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="card-img-top card-img-hover"><a class="img-overlay" [routerLink]="['/property/details',property.id]" routerLinkActive="router-link-active" ></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-info">{{property.propertyTypeContract}}</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to Wishlist"><i class="fi-heart"></i></button>
        </div><img src="{{imageAddress}}{{property.featureImage}}" alt="Image">
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-sm fw-normal text-uppercase text-primary"><i class="fi-map-pin me-1 mt-n1 fs-lg"></i> {{property.city}}</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" [routerLink]="['/property/details',property.id]" routerLinkActive="router-link-active" >
          {{property.propertyType}} &nbsp; 
          
          <span *ngIf="property.numberOfBedroom > 0">{{property.numberOfBedroom}}</span>   
          <span *ngIf="property.numberOfBedroom > 0">خوابه</span>  &nbsp;    
          <span *ngIf="property.numberOfBedroom === 0">استودیو</span>   
        </a></h3>
        <div><i class="fi-cash mt-n1 ms-2 lead align-middle opacity-70"></i>  {{property.price|currency:'GBP'}} پوند</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">
        <span class="d-inline-block mx-1 px-2 fs-sm">
          {{property.numberOfBedroom }}
          <i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i>
        </span>
        <span class="d-inline-block mx-1 px-2 fs-sm">
          {{property.numberOfBathroom}}
          <i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- Pagination-->
<nav class="border-top pb-md-4 pt-4 mt-2" aria-label="Pagination">
  <ul class="pagination mb-1">
    <li class="page-item cursor-pointer active d-none d-sm-block" [ngClass]="{'active': page === filterProperties.activePage}" *ngFor="let page of pages"><a (click)="setPage(page)" class="page-link" >{{page}}</a></li>
  </ul>
</nav>
<!-- Filters sidebar toggle button (mobile)-->

<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#filters-sidebar"><i class="fi-filter me-2"></i>فیلتر</button>