<!-- Sorting-->
<div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
  <div class="d-flex align-items-center flex-shrink-0">
    <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>مرتب
      سازی براساس: </label>
    <select class="form-select form-select-sm" id="sortby">
      <option>جدیدترین</option>
      <option>پربازدیدترین</option>
      <option>قیمت بالا</option>
      <option>قیمت پایین</option>
      <option>امتیاز بالا</option>
      <option>امتیاز میانگین</option>
    </select>
  </div>
  <hr class="d-none d-sm-block w-100 mx-4">
  <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i class="fi-check-circle me-2"></i><span
      class="fs-sm mt-n1">148 نتیجه یافت شد</span></div>
</div>
<!-- Catalog grid-->
<div class="row g-4 py-4">
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span
            class="d-table badge bg-success mb-1">تایید</span><span class="d-table badge bg-info">جدید</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner" dir="ltr"><img src="img/real-estate/catalog/06.jpg" alt="Image"><img
            src="img/real-estate/catalog/06.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">اقامتگاه ویلایی
            | 200 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>1652000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">3<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-info">جدید</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/07.jpg" alt="Image"><img
            src="img/real-estate/catalog/07.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">ویلا بلوک آبشار
            | 140 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>250000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">4<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-info">جدید</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/08.jpg" alt="Image"><img
            src="img/real-estate/catalog/08.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">آپارتمان 2 خواب
            | 85 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>152000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">0<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-success">تایید</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/09.jpg" alt="Image"><img
            src="img/real-estate/catalog/09.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">ویلا بلوک آبشار
            | 140 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>857000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">5<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-success mb-1">تایید
          </span><span class="d-table badge bg-danger">ویژه</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/10.jpg" alt="Image"><img
            src="img/real-estate/catalog/10.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">آپارتمان 2 خواب
            | 85 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>از 452000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">0<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-info">جدید</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="Add to Wishlist"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/11.jpg" alt="Image"><img
            src="img/real-estate/catalog/11.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">اقامتگاه ویلایی
            | 200 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>680000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-danger">ویژه</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/12.jpg" alt="Image"><img
            src="img/real-estate/catalog/12.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">آپارتمان 2 خواب
            | 85 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>از 4580000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">3<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-success">تایید</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/13.jpg" alt="Image"><img
            src="img/real-estate/catalog/13.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">ویلا 2 طبقه |
            150 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>4850000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">8<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/15.jpg" alt="Image"><img
            src="img/real-estate/catalog/15.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">ویلا بلوک آبشار
            | 140 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>14250000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">8<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/14.jpg" alt="Image"><img
            src="img/real-estate/catalog/14.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">ویلا بلوک آبشار
            | 140 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>9850000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-danger">ویژه</span></div>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/16.jpg" alt="Image"><img
            src="img/real-estate/catalog/16.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">اقامتگاه ویلایی
            | 200 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>از 475000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">4<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">2<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
  <!-- Item-->
  <div class="col-sm-6 col-xl-4">
    <div class="card shadow-sm card-hover border-0 h-100">
      <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
          href="real-estate-single-v1.html"></a>
        <div class="content-overlay end-0 top-0 pt-3 ps-3">
          <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button>
        </div>
        <div class="tns-carousel-inner"><img src="img/real-estate/catalog/17.jpg" alt="Image"><img
            src="img/real-estate/catalog/17.jpg" alt="Image"></div>
      </div>
      <div class="card-body position-relative pb-3">
        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">اجاره</h4>
        <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">اقامتگاه ویلایی
            | 200 متر مربع</a></h3>
        <p class="mb-2 fs-sm text-muted">ایران، تهران ، خیابان آزادی</p>
        <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>9620000 تومان</div>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i></span><span
          class="d-inline-block mx-1 px-2 fs-sm">1<i class="fi-car me-1 mt-n1 fs-lg text-muted"></i></span></div>
    </div>
  </div>
</div>
<!-- Pagination-->
<nav class="border-top pb-md-4 pt-4 mt-2" aria-label="Pagination">
  <ul class="pagination mb-1">
    <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
    <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span
          class="visually-hidden">(صفحه جاری)</span></span></li>
    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
    <li class="page-item d-none d-sm-block">...</li>
    <li class="page-item d-none d-sm-block"><a class="page-link" href="#">8</a></li>
    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i class="fi-chevron-right"></i></a></li>
  </ul>
</nav>
<!-- Filters sidebar toggle button (mobile)-->

<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#filters-sidebar"><i class="fi-filter me-2"></i>فیلتر</button>