<section class="container search">

  <form class="form-group d-block">
    <div class="row g-0">
      <div class="col-md-10 d-sm-flex align-items-center">
        <div class="dropdown w-sm-50 border-end-sm" data-bs-toggle="select">
          <button class="btn btn-lg btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown"><i
              class="fi-list me-2"></i><span class="dropdown-toggle-label">نوع قرارداد</span></button>
          <input type="hidden">
          <ul class="dropdown-menu">
            <li *ngFor="let contractType of contractTypes"><a class="dropdown-item" href="#"><span class="dropdown-item-label">{{contractType.contractType}}</span></a></li>
          </ul>
        </div>
        <hr class="d-sm-none my-2">
        <div class="dropdown w-sm-50 border-end-sm" data-bs-toggle="select">
          <button class="btn btn-lg btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
            <i class="fi-home me-2"></i><span class="dropdown-toggle-label">نوع ملک</span></button>
          <input type="hidden">
          <ul class="dropdown-menu">
            <li *ngFor="let propertyType of propertyTypes"><a class="dropdown-item" href="#"><span class="dropdown-item-label">{{propertyType.type}}</span></a></li>
          </ul>
        </div>
        <hr class="d-sm-none my-2">
        <div class="dropdown w-sm-50" data-bs-toggle="select">
          <button class="btn btn-lg btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
            <i class="fi-map-pin me-2"></i><span class="dropdown-toggle-label">شهر </span></button>
          <input type="hidden">
          <ul class="dropdown-menu">
            <li *ngFor="let city of cities"><a class="dropdown-item"><span class="dropdown-item-label">{{city.cityName}}</span></a></li>
          </ul>
        </div>
      </div>
      <hr class="d-md-none mt-2">
      <div class="col-md-2 d-sm-flex align-items-center pt-3 pt-md-0">
        <button class="btn btn-lg btn-icon btn-primary px-3 w-100" type="button">جستجو</button>
      </div>
    </div>
  </form>

</section>