<section class="container mb-5 pb-md-4" *ngIf="properties">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="h3 mb-0 ">خانه های ویژه ما</h2><a class="btn btn-link fw-normal p-0" href="real-estate-catalog-rent.html">مشاهده همه <i class="fi-arrow-long-left ms-2"></i></a>
  </div>
    <div class="row gx-4 mx-0 pt-3 pb-4" >
      <!-- Item-->
      <div class="col-xl-3 col-md-6" *ngFor="let property of properties; let i = index">
        <div class="card shadow-sm card-hover border-0 h-100" *ngIf="i<4">
          <div class="card-img-top card-img-hover"><a class="img-overlay" [routerLink]="['/property/details',property.id]" routerLinkActive="router-link-active" ></a>
            <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-info">جدید</span></div>
            <div class="content-overlay end-0 top-0 pt-3 ps-3">
              <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to Wishlist"><i class="fi-heart"></i></button>
            </div><img src="{{imagePath}}{{property.featureImage}}" alt="Image">
          </div>
          <div class="card-body position-relative pb-3">
            <h4 class="mb-1 fs-sm fw-normal text-uppercase text-primary">{{property.propertyTypeContract}}</h4>
            <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" [routerLink]="['/property/details',property.id]" routerLinkActive="router-link-active" >
              {{property.propertyType}} &nbsp; 
              
              <span *ngIf="property.numberOfBedroom > 0">{{property.numberOfBedroom}}</span>   
              <span *ngIf="property.numberOfBedroom > 0">خوابه</span>  &nbsp;    
              <span *ngIf="property.numberOfBedroom === 0">استودیو</span>   
            </a></h3>
            <div><i class="fi-cash mt-n1 ms-2 lead align-middle opacity-70"></i>  {{property.price|currency:'GBP'}} پوند</div>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">
            <span class="d-inline-block mx-1 px-2 fs-sm">
              {{property.numberOfBedroom }}
              <i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i>
            </span>
            <span class="d-inline-block mx-1 px-2 fs-sm">
              {{property.numberOfBathroom}}
              <i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
</section>